.vs
*.c3addon
*.vcxproj.user
ts-defs
/plugin-sdk/v2/wrapperExtensionPlugin/extension/x64/
/plugin-sdk/v2/wrapperExtensionPlugin/extension/ARM64/
/plugin-sdk/v2/wrapperExtensionPlugin/extension/Win32/
/plugin-sdk/v2/wrapperExtensionPlugin/construct-plugin/*.exp
/plugin-sdk/v2/wrapperExtensionPlugin/construct-plugin/*.lib
/plugin-sdk/v2/wrapperExtensionPlugin/construct-plugin/*.pdb
/plugin-sdk/v2/wrapperExtensionPlugin/extension/WrapperExtension/
